<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== CSS ===============-->
        <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
        <link rel="stylesheet" href="../styles/404.css">

        <title>ERROR 404</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    BASILISK
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#" class="nav__link">Inicio</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Nosotros</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Contactanos</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>
                </div>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home">
                <div class="home__container container">
                    <div class="home__data">
                        <span class="home__subtitle">Error 404</span>
                        <h1 class="home__title">Hey amig@</h1>
                        <p class="home__description">
                            Parece que no podemos encontrar la página <br> que estás buscando.
                        </p>
                        <a href="#" class="home__button">
                            Inicio
                        </a>
                    </div>

                    <div class="home__img">
                        <img src="../imagenes/ghost-img.png" alt="fantasma">
                        <div class="home__shadow"></div>
                    </div>
                </div>

                <footer class="home__footer">
                    <span>7441318629</span>
                    <span>|</span>
                    <span>info@basilisk.com</span>
                </footer>
            </section>
        </main>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="assets/js/scrollreveal.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="assets/js/main.js"></script>
    </body>
</html>