<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USUARIOS</title>
    <!-- Incluye Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Incluye DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../styles/tabla.css">
</head>
<body>
    <div class="container my-4">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="table-responsive"> <!-- Agregamos la clase table-responsive -->
                    <table id="datatable_users" class="table table-striped">
                        <caption>
                            Basilisk
                        </caption>
                        <thead>
                            <tr>
                                <th class="centered">Nombre</th>
                                <th class="centered">Usuario</th>
                                <th class="centered">Options</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody_users"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Incluye jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Incluye Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Incluye DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

    <script>
        let dataTable;
        let dataTableIsInitialized = false;

        const dataTableOptions = {
            lengthMenu: [5, 10, 15, 20, 100, 200, 500],
            columnDefs: [
                { className: "centered", targets: [0, 1, 2] },
                { orderable: false, targets: [2] }
            ],
            pageLength: 3,
            destroy: true,
            language: {
                lengthMenu: "Mostrar _MENU_ registros por página",
                zeroRecords: "Ningún usuario encontrado",
                info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Ningún usuario encontrado",
                infoFiltered: "(filtrados desde _MAX_ registros totales)",
                search: "Buscar:",
                loadingRecords: "Cargando...",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }
        };

        const initDataTable = async () => {
            if (dataTableIsInitialized) {
                dataTable.destroy();
            }

            await listUsers();

            dataTable = $("#datatable_users").DataTable(dataTableOptions);

            dataTableIsInitialized = true;
        };

        const listUsers = async () => {
            try {
                let content = '';
                <% empleados.forEach(function(empleado) { %>
                    content += `
                        <tr>
                            <td><%= empleado.nombre %></td>
                            <td><%= empleado.usuario %></td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="fas fa-pencil-alt"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>`;
                <% }); %>

                $("#tableBody_users").html(content);
            } catch (ex) {
                console.error(ex);
            }
        };


        $(document).ready(async () => {
            await initDataTable();
        });
    </script>
</body>
</html>
